<!DOCTYPE html>
<html>

<head>
    <title>AI Interview Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="logo">AI Interview Analyzer</div>

        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/speech">Speech to Text</a></li>
            <li><a href="/upload">Behavioral Analysis</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>

    <!-- PAGE CONTENT -->
    {% block content %}
    {% endblock %}

</body>

</html>